<div
  class="form-container"
  fxLayout
  fxLayoutAlign="center">
  <form
    [formGroup]="createUserForm"
    (ngSubmit)="onCreateUser()"
    fxLayout="column">
    <mat-form-field>
      <input
        matInput
        type="number"
        formControlName="age"
        placeholder="AGE">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        formControlName="height"
        placeholder="HEIGHT">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        formControlName="income"
        placeholder="INCOME">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        formControlName="expenses"
        placeholder="EXPENSES">
    </mat-form-field>
    <button
      [disabled]="!createUserForm.valid"
      mat-raised-button
      color="primary">
      CREATE USER
    </button>
  </form>
</div>
