* {
  font-size: small;
}
.container {
  margin: 20px;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.user, .users {
  background: #CCC;
}
.users li {
  border: 2px solid white;
}

.mat-panel-title-single-user {
  width: 150px;
}

.user-content {
  background-color: #CCC;
  padding: 10px;
}
.user-detail {
  display: inline-block;
  width: 70px;
}